body{
	background-color:lightblue;
	width:100%;
	height:100%;
	text-align:center;
	margin:0px;
	padding:0px;
    }
#picture div{
	background-color:white;
	padding:20px;
	margin:20px auto;
}
#picture{
	display:flex;
	align-items: center; 
          justify-content: center;
}
#picture5{
	background-color:white;
	padding:20px;
	margin:20px auto;
	width:201px;
	height:208px;
}
}
